:root {
    --main-color1 : #4742ff;
    --main-color2 : #00bdf9;

    --gray0 : #f8f9fa;
    --gray1 : #f1f3f5;
    --gray2 : #e9ecef;
    --gray3 : #dee2e6;
    --gray4 : #ced4da;
    --gray5 : #adb5bd;
    --gray6 : #868e96;
    --gray7 : #495057;
    --gray8 : #343a40;
    --gray9 : #212529;

    --bg-black : #000000ab;

    --flat-purple : #6c63ff;
    --flat-blue : #536dfe;
    --flat-light-blue : #00b0ff;
    --flat-green : #1abc9c;
    --flat-yellow : #f1c40f;
    --flat-red : #e74c32;
    --flat-black : #121212;
}

button {
    color: #fff;

    padding : 10px 0;

    border : 0;
    border-radius: 12px;
    background-color: var(--main-color1);

    cursor: pointer;
}

button.enabled-none {
    opacity: 0.2;
    cursor: unset;
}

.page {
    width : 100%;
    min-height : 100vh;

    padding : 16px;
}

.page-content {
    width : 100%;
    height : 100%;
    max-width: 500px;

    margin: 0 auto;
}

.bold {
    font-weight: 700;
}

.none-dragging {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}